<!-- need <div class work-out-container> to encompass all workout columns -->

</div>
<% let swimWorkouts = triathlon.filter(workout => workout.discipline === 'Swim').sort((a, b) => new Date(a.date) - new Date(b.date)); %>
<% if (swimWorkouts.length > 0) { %>
  <ul>
    <% swimWorkouts.forEach((workout) => { %>
      <li>
        <a href="/users/<%= user._id %>/workouts/<%= workout._id %>">
          Date: <%= workout.date.toString().slice(0, 15) %> Discipline: <%= workout.discipline %><br />
        </a>
        Type: <%= workout.workoutType %><br />
        <% if (workout.time) { %>
          Time: <%= workout.time %> minute<%= workout.time > 1 ? 's' : '' %><br />
        <% } %>
        <% if (workout.distance) { %>
          Distance: <%= workout.distance %> mile<%= workout.distance > 1 ? 's' : '' %><br />
        <% } %>
        <% if (workout.notes) { %>
          Notes: "<%= workout.notes %>"<br />
        <% } %>
      </li>
    <% }); %>
  </ul>
<% } else { %>
  <p>You have no swim workouts!</p>
<% } %>
</div>
